DB_HOST=localhost
DB_PORT=5433
DB_NAME=power_tracker
DB_USER=pt_admin
DB_PASSWORD=
BILLING_DAY=1
RUN_MODE=standalone
SYSTEM_NAME=
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_QUEUE=wattage_readings
CLIENT_POLL_INTERVAL=5
